.App {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 48px;
}

.FlapGroup {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.Flap {
  position: relative;
  background: #222;
  color: transparent;
}

.Flap > span {
  padding: 2px;
}

.FlapBack, .FlapTop, .FlapBottom {
  position: absolute;
  background: #444;
  color: white;
  left: 2px;
  right: 2px;
  height: calc(50% - 2px);
  overflow: hidden;
}

.Flap.flipping .FlapTop,
.Flap.flipping .FlapBottom {
  color: transparent;
  text-shadow: 0 0 3px lightgray;
}

.Flap.flipping .FlapTop {
  transform-origin: center bottom;
  backface-visibility: visible;
  animation: flip 0.1s infinite 0s ease-in;
}

.FlapTop, .FlapBack {
  top: 2px;
  border-bottom: 1px solid #222;
  z-index: 10;
}

.FlapTop > span, .FlapBack > span {
  position: relative;
  top: -20%;
}


.FlapBottom {
  bottom: 2px;
  border-top: 1px solid #222;
  z-index: 5;
}

.FlapBottom > span {
  position: relative;
  top: -120%;
}

table td, table th {
  padding: 5px 20px;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(180deg);
  }
}